.nav-home ul{
  height: auto;
}
.main-about{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 80vh;
}
.hero-image img{
  margin-inline: auto;
  height: 100%;
}
.main-text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-text p{
  font-size: 16px;
}